@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.states
{
     font-family: 'Kalam',cursive;
}
.statetop
{
      position: relative;           /* to allow absolute children like overlay or content */
    background-image: url('../../assets/Images/statesPage.png');
    background-repeat: no-repeat;
    background-size: cover;       /* scales the image to cover the container */
    background-position: center;  /* centers the image */
    width: 100%;                  /* full width */
    height: 100vh;                /* full viewport height */
    padding-top: 30%;                /* optional: for aligning content */
    padding-left: 5%; 
}
.statetop h3 
{
     color: #EFDCBE;
font-size: 64px;
font-weight: 700;
line-height: 1.2;
}
.statetop p
{
     color: #EFDCBE;
font-size: 24px;
font-weight: 400;
}
.discoverIndia h3
{
color: #86472C;
font-size: 54px;
text-align: center;
font-weight: 700;
padding-top: 2%;
}
.discoverIndia p{
     color: #86472C;
font-size: 24px;
font-weight: 400;
text-transform: capitalize;
padding: 0% 5% 2% 5%;
text-align: center;
}

.northIndia
{
     padding: 2%;
}

.northIndia h3{
     color: #86472C;
font-size: 54px;
text-align: center;
font-weight: 700;
}
.north-card
{
  padding-top: 3%;
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 3%;
  justify-items: center;
}
.ncard
{
    width: 250px; 
  padding: 10px 0;
    flex: 1 1 calc(20% - 2%);
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ncard h3{
  text-align: justify;
  color: #86472C;
font-size: 24px;
font-weight: 700;
line-height: 1.6;
}
.ncard img{
  width: 200px;
}
.ncard h4{
color: #86472C;
font-size: 16px;
font-weight: 700;
line-height: 1.6;
}

.ncard p{
  color: #86472C;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
max-width: 180px;
min-height: 120px;
}
.ncard button
{
  text-align: center;
  color: #86472C;
font-weight: 700;
padding: 5%;
width: 50%;
margin-top: 5%;
background: transparent;
border: 1px solid #86472C;
border-radius: 8px;
font-family: "Kalam",cursive;
}

.ncard button:hover {
  background: #86472C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.south-India
{
  padding: 2%;
}

.south-India h3 
{
   color: #86472C;
font-size: 54px;
text-align: center;
font-weight: 700;
}

.southcard
{
    padding-top: 3%;
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 3%;
  justify-items: center;
}
.scard 
{
     width: 250px; 
  padding: 10px 0;
    flex: 1 1 calc(20% - 2%);
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scard h3 
{
   text-align: justify;
  color: #86472C;
font-size: 24px;
font-weight: 700;
line-height: 1.6;
}

.scard img 
{
  width: 200px;
}

.scard h4 
{
  color: #86472C;
font-size: 16px;
font-weight: 700;
line-height: 1.6;
}

.scard p
{
color: #86472C;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
max-width: 180px;
min-height: 120px;
}

.scard button
{
  text-align: center;
  color: #86472C;
font-weight: 700;
padding: 5%;
width: 50%;
margin-top: 5%;
background: transparent;
border: 1px solid #86472C;
border-radius: 8px;
font-family: "Kalam",cursive;
}

.scard button:hover
{
    background: #86472C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.west-India
{
  padding: 2%;
}
.west-India h3 
{
  color: #86472C;
font-size: 54px;
text-align: center;
font-weight: 700;
}
.westcard
{
  padding-top: 3%;
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 3%;
  justify-items: center;
}
.wcard 
{
       width: 250px; 
  padding: 10px 0;
    flex: 1 1 calc(20% - 2%);
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wcard h3{
  text-align: justify;
  color: #86472C;
font-size: 24px;
font-weight: 700;
line-height: 1.6;
}
.wcard img 
{
   width: 200px;
}
.wcard h4 
{
   color: #86472C;
font-size: 16px;
font-weight: 700;
line-height: 1.6;
}

.wcard p 
{
  color: #86472C;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
max-width: 180px;
min-height: 120px;
}
.wcard button 
{
  text-align: center;
  color: #86472C;
font-weight: 700;
padding: 5%;
width: 50%;
margin-top: 5%;
background: transparent;
border: 1px solid #86472C;
border-radius: 8px;
font-family: "Kalam",cursive;
}

.wcard button:hover
{
  background: #86472C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.east-India
{
  padding: 2%;
}
.east-India h3 
{
    color: #86472C;
font-size: 54px;
text-align: center;
font-weight: 700;
}
.east-card 
{
    padding-top: 3%;
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 3%;
  justify-items: center;
}

.ecard 
{
         width: 250px; 
  padding: 10px 0;
    flex: 1 1 calc(20% - 2%);
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ecard h3 
{
  text-align: justify;
  color: #86472C;
font-size: 24px;
font-weight: 700;
line-height: 1.6;
}

.ecard img  
{
  width: 200px;
}

.ecard h4 
{
   color: #86472C;
font-size: 16px;
font-weight: 700;
line-height: 1.6;
}

.ecard p{
   color: #86472C;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
max-width: 180px;
min-height: 120px;
}

.ecard button
{
   text-align: center;
  color: #86472C;
font-weight: 700;
padding: 5%;
width: 50%;
margin-top: 5%;
background: transparent;
border: 1px solid #86472C;
border-radius: 8px;
font-family: "Kalam",cursive;
}
.ecard button:hover{
  background: #86472C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.central-India
{
  padding: 2%;
}
.central-India h3 
{
   color: #86472C;
font-size: 54px;
text-align: center;
font-weight: 700;
}
.central-card 
{
  padding-top: 3%;
 display: grid;
grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 3%;
  justify-items: center;
}

.ccard 
{
   width: 250px; 
  padding: 10px 0;
  max-width: 240px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ccard h3 
{
  text-align: justify;
  color: #86472C;
font-size: 24px;
font-weight: 700;
line-height: 1.6;
}

.ccard img 
{
  width:200px;
}

.ccard h4{
color: #86472C;
font-size: 16px;
font-weight: 700;
line-height: 1.6;
}

.ccard p 
{
  color: #86472C;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
max-width: 180px;
min-height: 120px;
}

.ccard button 
{
   text-align: center;
  color: #86472C;
font-weight: 700;
padding: 5%;
width: 50%;
margin-top: 5%;
background: transparent;
border: 1px solid #86472C;
border-radius: 8px;
font-family: "Kalam",cursive;
}

.ccard button:hover
{
   background: #86472C;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
